{% extends 'base.html' %}
{% load static %}
{% block title %}{{ room.name }}{% endblock %}

{% block content %}
<div class="row d-flex justify-content-center align-items-center">
  <div class="col-12 col-md-8 col-lg-6 col-xl-5">
  <div class="tab-content bg-light p-4" style="border-radius: 1rem;">
    <div class="tab-pane fade show active">
      <nav class="navbar navbar-light border border-1 border-warning bg-dark mb-1" style="border-radius: 0.5rem;">
        <div class="container-fluid">
          <img class="d-inline-block align-text-top" src="{% static 'images/nyan_cat_0.gif' %}" width="60" height="50">
          <h3 class="text-light">{{ room.name }}<p class="d-flex justify-content-center mb-0" style="font-size: 10px">{{ cnt }} участников</p></h3>
          <a href="{% url 'rooms' %}" class="btn btn-warning btn-block px-2 mb-0">Вернуться</a>
        </div>
      </nav>
      <!-- <div class="d-flex justify-content-end">
        <a href="{% url 'rooms' %}" class="btn btn-warning btn-block px-2 mb-1">Вернуться</a>
        <h3 class="d-flex justify-content-center mb-4">{{ room.name }}</h3>
      </div> -->
      <!-- <h3 class="d-flex justify-content-center mb-4">{{ room.name }}</h3> -->
      <div class="d-block border border-2 border-warning p-3 bg-dark mb-3" id="chat-messages" style="max-height: 350px; overflow-y: scroll; border-radius: 1rem;">
          {% for m in messages %}
            {% if request.user.username == m.user.username %}
              <div class="d-flex justify-content-end mb-1" style="border-radius: 0.5rem;">
                <div class="d-block p-2 bg-light mb-1" style="border-radius: 0.5rem;">
                  <b>{{ m.user.username }}</b><br>{{ m.content }} 
                  <p class="text-muted mb-0" style="font-size: 11px;">{{ m.date_added }} <img src="{% static 'images/dve_serye_galochki.png' %}" width="15" height="10"></p>
                </div>
              </div>
            {% else %}
              <div class="d-flex justify-content-start mb-1" style="border-radius: 0.5rem;">
                <div class="d-block p-2 bg-light mb-1" style="border-radius: 0.5rem;">
                  <b>{{ m.user.username }}</b><br>{{ m.content }}
                  <p class="text-muted mb-0" style="font-size: 11px;">{{ m.date_added }}</p>
                </div>
              </div>
            {% endif %}
          {% endfor %}
      </div>

      <form method="post" action=".">
        <!-- class="d-flex form-outline justify-content-center mb-2" -->
          <div class="input-group">
            <input type="text" name="content" class="form-control" placeholder="Ваше сообщение..." id="chat-message-input" style="border-color: black;"/>
            <button class="btn btn-dark btn-block justify-content-center px-4" id="chat-message-submit">Отправить</button>
          </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ room.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}

<script>
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + roomName
        + '/'
    );

    chatSocket.onclose = function(e) {
        console.log('onclose')
    }

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const md = new Date(Date.now());
        console.log(md)

        // console.log(data)

        if (data.message) {
          // if (data.username === {{ request.user.username }})
            document.querySelector('#chat-messages').innerHTML += ('<div class="d-flex justify-content-end mb-1" style="border-radius: 0.5rem;"><div class="d-block p-2 bg-light mb-1" style="border-radius: 0.5rem;"><b>' + data.username + '</b><br>' + data.message + '<p class="text-muted mb-0" style="font-size: 10px;">' + md.toLocaleTimeString() + '</p></div></div>');
        }// else {
        //     alert('The message was empty!')
        // }

        scrollToBottom();
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        e.preventDefault()

        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;

        console.log({
            'message': message,
            'username': userName,
            'room': roomName
        })

        if (message) {
          chatSocket.send(JSON.stringify({
            'message': message,
            'username': userName,
            'room': roomName
          }));
        }

        messageInputDom.value = '';

        return false
    };

    function scrollToBottom() {
        let objDiv = document.getElementById("chat-messages");
        objDiv.scrollTop = objDiv.scrollHeight;
    }

    scrollToBottom();
</script>
{% endblock %}