.msg_time {
	position: absolute;
	left: 0;
	bottom: -15px;
	color: rgb(255, 255, 255);
	font-size: 10px;
}

.msg_time_send {
	position: absolute;
	right: 0;
	bottom: -15px;
	color: rgb(255, 255, 255);
	font-size: 10px;
}